@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 7%;
  background: #eee;
  min-height: 100vh;
  gap: 15px;
  padding-bottom: 80px;
}

.container .content {
  flex: 1 1 400px;
}

.container .image {
  flex: 1 1 400px;
}

.container .image img {
  width: 100%;
}

.container .content .title {
  font-size: 45px;
  text-transform: uppercase;
  color: #febd01;
}

.container .content p {
  color: #666;
  padding: 5px 0;
}

.container .content .count-down {
  display: flex;
  gap: 15px;
  padding: 10px 0;
}

.container .content .count-down .box {
  padding: 5px;
  text-align: center;
  flex: 1 1 20px;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.container .content .count-down .box h3 {
  font-size: 50px;
  color: #333;
}

.container .content .count-down .box span {
  color: #febd01;
  font-size: 20px;
  padding: 5px 0;
}

.container .content .btn {
  display: inline-block;
  padding: 15px 50px;
  margin: 20px 0;
  font-size: 17px;
  background: #febd01;
  border-radius: 10px;
  box-shadow: 0 5px 15px #febd01;
  color: #fff;
  transition: 0.2s ease-out;
}

.container .content .btn:hover {
  letter-spacing: 2px;
}

@media (max-width: 500px) {
  .container {
    padding: 20px;
  }
  .container .content {
    text-align: center;
  }
  .container .content .title {
    font-size: 35px;
  }
  .container .content p {
    font-size: 14px;
  }
  .container .content .count-down {
    gap: 5px;
  }
  .container .content .count-down .box h3 {
    font-size: 30px;
  }
  .container .content .count-down .box span {
    font-size: 15px;
  }
}
